
<style>
.oval-speech-no {
  padding: 46px 56px;
  font-size: 20px;

}
.oval-speech-no:before {
  right: 60%;

}

#arthur {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
display: block;
}
</style>

<p class="info">This website was created with:</p>
<div class="whole">

<p class="info">Node</p>
<p class="info">Express</p>
<p class="info">Postgres</p>
<p class="info">Knex</p>
<p class="info">Handlebars</p>

<p>Who's Arthur?</p>
<img id="arthur" src="https://i.imgur.com/f7bttzQ.jpg" alt="this is Arthur" width="300px" height="300px">
<p class="info">Arthur is the inspiration for this project.</p>
<div class="separator"></div>


</div>
