
<style>
.oval-speech {
  padding: 46px 42px;
  font-size: 20px;

}
.oval-speech:before {
  right: 60%;

}

.input {
  display: none;
  padding: 0px;
}
.separator {
    height: 100px;
}

#arthur {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
display: block;
}
</style>

<p class="info">This website was created with:</p>
<div class="whole">

<p class="info">Node</p>
<p class="info">Express</p>
<p class="info">Postgres</p>
<p class="info">Knex</p>
<p class="info">Handlebars</p>
<p class="info">jQuery</p>



<p>Who's Arthur?</p>
<img id="arthur" src="https://i.imgur.com/f7bttzQ.jpg" alt="this is Arthur" width="300px" height="300px">
<p class="info">Arthur is the inspiration for this project.</p>
<div class="separator"></div>

<p class="info">Information sourced from:</p>
<p class="info">American Kennel Club</p>
<p class="info">Pawcastle.com</p>
<p class="info">iHeartDogs.com</p>


</div>
