<!DOCTYPE html>
<html>

<head>
  <title>{{homeTitle}}</title>
  <link id="stylesheet" rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body id="body">
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/yes">Yes</a>
    <a href="/no">No</a>
    <a href="/caution">Caution</a>
  </div>

  </div>
  <div class="container">

    <div class="whole">
      <div class="topbar"></div>
      <div class="input">
        <p id="my">can my dog eat</p>
        <form onSubmit="return process();">
          <span id="food"> <input type="text" name="url" id="url"> <p id="question">?</p></span>
        </form>
      </div>
      <div class="separator"></div>
      <div class="dog">
        <span id="wrapper">
          <img src="https://i.imgur.com/vyjHXAT.png" title="Ask Arthur, he knows!" height="220px" width="220px" />
        </span>
        <span class="bubble">
          <span id="bubbleText" class="oval-speech-no">
            {{title}}
          </span>
        </span>

      </div>

    </div>
  </div>

  {{{body}}}

  {{!-- <p class="info">{{info}}</p> --}}
  {{!-- <p class="info"></p>
  <p class="info"><span class="yes">okay to eat</span></p>
  <p class="info"><span class="no">do not eat</span></p>
  <p class="info"><span class="caution">be careful</span></p> --}}
  <div class="separator"></div>
 {{!-- <footer><p id="footer">The information provided on this website is made available for educational purposes only. It should in no way be substituted for the correct veterinary assessment of each individual patient by a suitably qualified Veterinary Surgeon or Veterinarian.</p></footer> --}}



</body>

<script>

  function process() {
    var url = "http://localhost:8888/food/" + document.getElementById("url").value.toLowerCase();
    location.href = url;
    return false;
  }
  const bubbleText = document.querySelector('#bubbleText');
  const stylesheet = document.querySelector('#stylesheet');

  console.log(stylesheet.href);


  console.log(bubbleText.innerText);

  if (bubbleText.innerText == "CAUTION!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/styleCaution.css'
  }
  if (bubbleText.innerText == "YES!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/style.css'
  }
  if (bubbleText.innerText == "NO!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/styleNo.css'
  }


  $(function() {
    var availableTags = [
      'potato',
      'avocado',
      'popcorn',
      'macadamia nuts',
      'xylitol',
      'apples',
      'bananas',
      'blueberries',
      'cherries',
      'grapes',
      'raisins',
      'mushrooms',
      'tomatoes'
    ];
    $( "#url" ).autocomplete({
      source: availableTags
    });
  });

</script>

</html>
