<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <body id="body">
    <div class="whole">
      <div class="topbar"></div>
      <div class="input">
        <p>can my dog eat</p>
        <span id="food"> <input type="text" name="food" value=""> <p id="question">?</p></span>
      </div>
      <div class="separator"></div>
      <span id="wrapper">
            <img src="https://i.imgur.com/vyjHXAT.png" title="source: imgur.com" height="260px" width="260px" />
          </span>
      <span class="bubble">
            <span class="oval-speech-no">
                {{title}}
              </span>
      </span>
      </span>

    </div>

    {{{body}}}

  </body>

</html>
