<!DOCTYPE html>
<html>

<head>
  <title>{{homeTitle}}</title>
  <link id="stylesheet" rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="body">
  <div class="topnav">
    {{!-- <a href="/">Home</a>
    <a href="/yes">Yes</a>
    <a href="/no">No</a>
    <a href="/caution">Caution</a> --}}
  </div>

  </div>
  <div class="container">

    <div class="whole">
      <div class="topbar"></div>
      <div class="input">
        <p>can my dog eat</p>
        <form onSubmit="return process();">
          <span id="food"> <input type="text" name="url" id="url"> <p id="question">?</p></span>
        </form>
      </div>
      <div class="separator"></div>
      <span id="wrapper">
          <img src="https://i.imgur.com/vyjHXAT.png" title="source: imgur.com" height="260px" width="260px" />
        </span>
      <span class="bubble">
          <span id="bubbleText" class="oval-speech-no">
            {{title}}
          </span>
      </span>

    </div>
  </div>

  {{{body}}}

  <p class="info">{{info}}</p>
  <p class="info"></p>
  <p class="info"><span class="yes">okay to eat</span></p>
  <p class="info"><span class="no">do not eat</span></p>
  <p class="info"><span class="caution">be careful</span></p>
  <div class="separator"></div>

</body>
<script>
  function process() {
    var url = "http://localhost:8888/" + document.getElementById("url").value.toLowerCase();
    location.href = url;
    return false;
  }
  const bubbleText = document.querySelector('#bubbleText');
  const stylesheet = document.querySelector('#stylesheet');

  console.log(stylesheet.href);


  console.log(bubbleText.innerText);

  if (bubbleText.innerText == "CAUTION!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/styleCaution.css'
  }
  if (bubbleText.innerText == "YES!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/style.css'
  }
  if (bubbleText.innerText == "NO!") {
    console.log('it worked');
    stylesheet.href = 'http://localhost:8888/stylesheets/styleNo.css'
  }


</script>

</html>
