<!DOCTYPE html>
<html>

<head>
  <title>{{homeTitle}}</title>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link id="stylesheet" rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="body">
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/about">About</a>{{!-- <a href="/yes">Yes</a>
    <a href="/no">No</a>
    <a href="/caution">Caution</a> --}}
  </div>

  </div>
  <div class="container">

    <div class="whole">
      <div class="topbar"></div>
      <div class="input">
        <p id="my">can my dog eat</p>
        <form onSubmit="return process();">

          <span id="food"> <input type="text" name="url" id="url" title="start typing!"> <p id="question">?</p></span>
        </form>
      </div>
      <div class="separator"></div>
      <div class="dog">
        <span id="wrapper">
          <a href="http://www.susannelamb.com/"><img src="https://i.imgur.com/vyjHXAT.png" title="Ask Arthur, he knows!" height="220px" width="220px" /></a>
        </span>
        <span class="bubble">
          <span id="bubbleText" class="oval-speech">
            {{title}}
          </span>
        </span>

      </div>

    </div>
  </div>

  <div class="separator"></div>

  {{!-- <p>Find a vet near you!</p>
    <iframe src="https://maps.google.com/maps?q=veterinarian&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" marginheight="0" marginwidth="0">
</iframe> --}}
  </div>

  </div>
  <div class="separator"></div>
  {{{body}}}

  <a href="https://www.google.com/maps?q=veterinarian" target="_blank">
    <p id="vet" style="font-size: 30px;">Find a vet near you!</p>
  </a>


  <div class="separator"></div>

  <footer>
    <p id="footer">The information provided on this website is made available for educational purposes only. It should in no way be substituted for the correct veterinary assessment of each individual patient by a suitably qualified Veterinary Surgeon or Veterinarian.</p>
  </footer>

</body>

<script>
  function process() {
    var url = "/food/" + document.getElementById("url").value.toLowerCase();
    location.href = url;
    return false;
    console.log(url);
  }
  const bubbleText = document.querySelector('#bubbleText');
  const stylesheet = document.querySelector('#stylesheet');

  console.log(stylesheet.href);


  console.log(bubbleText.innerText);

  if (bubbleText.innerText == "CAUTION!") {
    console.log('it worked');
    stylesheet.href = '/stylesheets/styleCaution.css'
  }
  if (bubbleText.innerText == "YES!") {
    console.log('it worked');
    stylesheet.href = '/stylesheets/style.css'
  }
  if (bubbleText.innerText == "NO!") {
    console.log('it worked');
    stylesheet.href = '/stylesheets/styleNo.css'
  }


  $(function() {
    var foods = [
      'potatoes',
      'avocados',
      'popcorn',
      'macadamia nuts',
      'xylitol',
      'apples',
      'bananas',
      'blueberries',
      'cherries',
      'grapes',
      'raisins',
      'mushrooms',
      'tomatoes',
      'corn',
      'ham',
      'ice cream',
      'peanut butter',
      'almonds',
      'bread',
      'cashews',
      'chocolate',
      'cinnamon',
      'eggs',
      'quinoa',
      'cheese',
      'pork',
      'coconut',
      'fish',
      'garlic',
      'carrots',
      'asparagus',
      'watermelon',
      'sweet potatoes',
      'pumpkin',
      'spinach',
      'canteloupe',
      'brussel sprouts',
      'chicken',
      'oatmeal',
    ];
    $("#url").autocomplete({
      source: foods
    });
  });


  var index = 0;

  function rotate() {
    [].forEach.call(document.images, function(v, i) {
      document.images[i].hidden = i !== index
    });
    index = (index + 1) % document.images.length;
  }

  window.onload = function() {
    var spin = setInterval(rotate, 64);
    setTimeout(function() {
      clearInterval(spin);

    }, 1080)
  };
</script>

</html>
