@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Itim');
@import url(http://allfont.net/allfont.css?fonts=futura-bold);
body {
  background-color: rgb(255, 255, 255);
  margin-bottom: 8%;
  margin: 0 auto;
}

#wrapper {
  margin: auto;
  float: left;
  padding-right: 3%;
  padding-left: 0%;
  padding-top: 8%;

}

.topbar {
  height: 30px;
}

.whole {
  margin: 0 auto;
  margin-bottom: 220px;
  width: 90%;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.input {
  display: inline-grid;
  width: 94%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #F00;
  text-align: center;
  font-family: 'Futura-Bold', arial;
  display: run-in;
  margin: 0 auto;
}

input {
  font-family: 'Futura-Bold', arial;
  text-transform: uppercase;
  height: 40px;
  font-size: 40px;
  border: 0px;
  width: 350px;
  color: rgb(65, 65, 65);
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 0;
}

input[type="text"] {
  width: 330px;
  font-size: 52px;
}

input[type="text"]::selection {
  background-color: rgba(145, 145, 145, 0.4);
}

#food {
  margin: 0 auto;
}

#question {
display: inline-block;
text-align: center;
color: rgb(65, 65, 65);
font-size: 42px;
padding-top: 0%;
margin: 0%;
}

#my {
  text-align: center;
  width: 100%;
}

.bubble {
  margin-top: 200px;
  font-size: 1.25em;
  font-family: 'Futura-Bold', arial;
  font-size: 24px;
}

.dog {
  margin: 12%;
  margin-top: 0;
  height: 88px;
  padding-left: 10%;
  padding-right: 10%;
}
.topnav {
  overflow: hidden;
  background-color: rgba(231, 231, 231, .2);
  font-family: 'Futura', arial;
  font-weight: 100;
  padding-left: 38%;
}

.topnav a {
  float: left;
  color: rgb(108, 108, 108);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.4);
  color: rgb(93, 93, 93);
  text-decoration: underline;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

h1 {
  font-family: 'Itim', cursive;
  text-align: center;
  font-size: 66px;
  margin: auto;
  width: 50%;
}

p {
  font-family: 'Futura-Bold', arial;
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 40px;

}

.info {
  font-size: 20px;
}

img::selection {
  background-color: rgba(255, 255, 255, 0);
}

.separator {
  height: 100px;
}

.yes {
  color: rgb(69, 198, 64);
  text-transform: uppercase;
}

.no {
  color: rgb(242, 10, 66);
  text-transform: uppercase;
}

.caution {
  color: rgb(249, 235, 109);
  text-transform: uppercase;
}

p::selection {
  color: rgb(251, 245, 245);
  background-color: rgb(69, 198, 64);
  text-transform: uppercase;
}

.description {
  text-align: left;
  font-size: 1.3em;
  margin: 0 auto;
  width: 60%;
}

.yes::selection {
  color: rgb(251, 245, 245);
  background-color: rgb(69, 198, 64);
  text-transform: uppercase;
}

.no::selection {
  color: rgb(251, 245, 245);
  background-color: rgb(242, 10, 66);
  text-transform: uppercase;
}

.caution::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 235, 109);
  text-transform: uppercase;
}

#foodName {
  text-transform: uppercase;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 130px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(240, 240, 240, 1) 100%);
}

#footer {
  font-family: 'Futura-Bold', arial;
  font-size: 16px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(91, 91, 91);
}


.oval-speech-no {
  padding-top: 50px;
  position: relative;
  width: 80vw;
  height: 100vh;
  padding: 66px 46px;
  margin: 1em auto 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(249, 235, 109);
  border-radius: 156px / 114px;
  font-size: 1.25em;
  font-family: 'Futura-Bold', arial;
  font-size: 32px;
}

.oval-speech-no p {
  font-family: 'Futura-Bold', arial;
  font-size: 16px;
  cursor: pointer;
}

.oval-speech-no::selection {
  background-color: rgba(157, 157, 157, 0);
}

/* creates part of the curve */

.oval-speech-no:before {
  padding-top: 5%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  height: 30px;
  border-right: 60px solid rgb(249, 235, 109);
  background: rgb(69, 198, 64);
  /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  border-bottom-right-radius: 80px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  transform: translate(0, -2px);
  font-size: 1.25em;
  font-family: 'Futura-Bold', arial;
  font-size: 20px;
}

/* creates part of the curved pointy bit */

.oval-speech-no:after {
  padding-top: 5%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  width: 60px;
  height: 30px;
  background: rgb(255, 255, 255);
  border-bottom-right-radius: 40px 50px;
  transform: translate(-30px, -2px);
}

.ui-autocomplete {
  background: rgb(255, 255, 255);
  border-radius: 1px;
  border: 1px solid rgb(198, 198, 198);
  width: 330px;
  list-style-type: none;
  font-family: 'Futura-Bold', arial;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  color: rgb(65, 65, 65);
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 34px -3px rgba(196,196,196,1);
}

.ui-helper-hidden-accessible {
  display: none;
}

li:hover {
  background: rgb(242, 242, 242);
  color: rgb(73, 73, 73);
}

.ui-menu .ui-menu-item a {
  background: red;
  height: 10px;
  font-size: 8px;
}
