

.oval-speech-no {
  padding-top: 50px;
  position: relative;
  width: 80vw;
  height: 100vh;
  padding: 94px 56px;
  margin: 1em auto 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(249, 235, 109);
  border-radius: 156px / 114px;
  font-family: 'Futura-Bold', arial;
  font-size: 40px;
}

.oval-speech-no p {
  font-family: 'Futura-Bold', arial;
  font-size: 12px;
}

/* creates part of the curve */

.oval-speech-no:before {
  padding-top: 5%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  height: 30px;
  border-right: 60px solid rgb(249, 235, 109);
  background: rgb(249, 235, 109);
  /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  border-bottom-right-radius: 80px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  transform: translate(0, -2px);

  font-family: 'Futura-Bold', arial;

}

/* creates part of the curved pointy bit */

.oval-speech-no:after {
  padding-top: 5%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  width: 60px;
  height: 30px;
  background: rgb(255, 255, 255);
  border-bottom-right-radius: 40px 50px;
  transform: translate(-30px, -2px);
}

.bubble {
  margin-top: 200px;
  font-size: 1.25em;
  font-family: 'Futura-Bold', arial;
  font-size: 24px;
}
